.search .label-control.search-account,
.search .label-control.search-name{ font-weight: normal; }

.content { 
	margin-top: 20px;
	margin-bottom: 20px; 
}
.search { margin-top: 20px; }
.trx-data {
	cursor: pointer !important;
	background-color: #fff !important;
}
.tfoot{
	background: #E6E5EA;
	border-top: solid 3px #F79032;
	font-weight: bold;
}
.no-padding-right {
	padding-right:0;
}