.form-item {
margin-bottom: 12px;
}
#password-form input{
	height:34px;
}
#reg-btn{
	float:right;
}
.control-label{
	margin-top:5px;
	text-align:right;
}
.fa-mobile-phone{
	font-size:20px;
}
.no-padding{
	padding-left:0px;
	padding-right:0px;
}
