.row-withdraw-table{
	margin-top:15px;
	border: 1px solid #E1E1E1;
	background-color:#FFF;
	padding-bottom:10px;
	margin-left:0;
	margin-right:0;
}

.title-record{
	border-bottom:1px solid #D6B49C;
}

.search-withdraw{
	padding:15px;
}
.search-withdraw .control-label{
	line-height:30px;
}

#start-date,#end-date{
	cursor:pointer;
	background-color:#fff;
	/* text-indent:10px; */
}

#btn-search{
	width:100px;
}

.btn-group button{
	width:33%;
}
.btn-group{
	width:100%;
	padding-left:1px;
	padding-right:1px;
}