<link href="$link.contextPath/assets/css/page/market/market-detail.css" rel="stylesheet">
<script src="$link.contextPath/assets/js/page/market/market-financing-detail.js" type="text/javascript"></script>
#set($pkg=$itemDto.pkg)
#set($product=$itemDto.product)
<input type="hidden" id="pkgId" value="$!pkg.id" />
<input type="hidden" id="expired" value="$!itemDto.expired" />
<div class="row">
    <div #if($isUserTourist && !$itemDto.expired) class="col-sm-7" #else class="col-sm-12" #end>
    <div class="thumbnail basic-info div-radius" data-name="$!pkg.packageName">
        <div class="col-sm-12 header-title bgc title-radius">
            <h4 class="fn-left"><strong>NO.$!pkg.id   $!pkg.packageName -- <span class="status" id="package-status">$!pkg.status.text</span></strong></h4>
        </div>
        <div class="col-sm-12 ht1"></div>
        <div class="col-sm-4 br1 le_1">
            <h5 class="lab-font">融资额（元）</h5>
            <span class="fs30 c1">$!number.formatMoney($!pkg.packageQuota)</span>
        </div>
        <div class="col-sm-4 br1 le_2">
            <h5  class="rate lab-font" data-id="$!product.rate" data-pay-method="$!product.payMethod.code" data-term="$!product.termLength">年利率</h5>
            <!-- <em class="fs30">12.</em>50% -->
            <span class="fs30 c1">$!{product.ratePercent[0]}.</span><span class="fs14">$!product.ratePercent[1]%</span>
        </div>
        <div class="col-sm-4 le_3">
            <h5 class="term lab-font" data-id="$!product.termToDays">融资期限</h5>
            <span class="fs30 c1">$!product.termLength</span><span class="fs14">$!product.termType.text</span>
        </div>
        <div class="col-sm-12 txt">
            <div class="c6 col-sm-6 lab-font">融资人：<span class="c2 mr50">$!product.user.maskChineseName</span></div>
            <div class="c6 col-sm-6 lab-font">行业：<span class="c2 mr50">$!product.financierIndustryType.text</span></div>
            <div class="c2 col-sm-6 lab-font">还款方式：<span class="c2  mr50">$!product.payMethod.text</span></div>
            <div class="c2 col-sm-6 lab-font">逾期转代偿天数：<span class="c2">$!{product.overdue2CmpnsGracePeriod}天</span></div> 
			<div class="c6 col-sm-12 lab-font">担保机构#if($!{itemDto.product.wrtrCreditDesc})(<a id="wrtr-credit-desc"  data-wrdesc="$!{itemDto.product.wrtrCreditDesc}">简介</a>)#end：#if($!{product.guaranteeLicenseNoImgUrl}&&$!{product.guaranteeLicenseNoImgUrl}!="")
				<span class="c2">$!{product.guaranteeInstitutionShow}</span><a class="" href="$!{product.guaranteeLicenseNoImgUrl}" target="_blank" title="点击查看营业执照扫描图"><span class="mr50">(营业执照扫描图)</span></a>#else <span class="c2 mr50">$!{product.guaranteeInstitutionShow}</span> #end 
			</div>
            <div class="c6 col-sm-12 lab-font">
				#if($!{itemDto.product.wrtrCreditFile})		
				<span class="ml121 lab-font">担保机构信用披露：</span>
				<a target="_blank" href="$link.contextPath/web/product/details/$!{itemDto.product.wrtrCreditFile}">查看</a>
				#end
			</div>
			<div class="ht3 col-sm-12"><span class="c6 lab-font">借款用途说明: </span>
				<span class="c2" id = "loan-purpose">$!product.loanPurpose
				</span><a id = "loan" href="javascript:void(0)" class="check-link" data-type="ind" data-content="loading..." style="display:none">[详情]</a>
			</div>

		</div>
        
        <div class="col-sm-12 ht1 bt1 bgc"></div>

        <div class="col-sm-4 br1 bgc">
            <div class="progress br0 pr">
                <div class="progress-bar bc1"  data-id="$!{itemDto.progress}" style="width: $!{itemDto.progress}%;">
                    <span class="pa lf50 progresspan">$!{itemDto.progress}%</span>
                </div>
            </div>
        </div>
        <div class="supplyEndTime" data-id="$!pkg.supplyEndTime"><div class="supplyStartTime" data-id="$!pkg.supplyStartTime"><div class="col-sm-4 br1 center remainingStartTime" data-id="$!itemDto.remainingStartTime"><strong class="remainingTime" data-id="$!itemDto.remainingTime"></strong></div></div></div>
        <div class="col-sm-4 bgc center">
            <span class="fc">$!product.warrantyType.text</span>
        </div>
        <div class="col-sm-12 ht1 bgc"></div>
    </div>
</div>
#if($isUserTourist && !$itemDto.expired)
<div class="col-sm-5">
    <div class="thumbnail basic-info div-radius">

        <div class="col-sm-12 header-title title-radius">
            <h4 class="fn-left"><strong>申购金额<span class="notice"></span></strong></h4>
        </div>
        <form role="form" class="form-mk" data-id='$!pkg.id' onsubmit="javascript:return false;">
            <div class="col-sm-12 bgc pr">
                <input type="text" class="form-control mk mt20 br0 ht2" maxlength="12" placeholder="$!number.formatMoney($!pkg.unitAmount) < 申购金额 < 100,000.00" id="purchased"  #if(!$investorFlag || !$itemDto.inputable) disabled #end> 
                <span class="tip pa">元</span>
                <input type="hidden" value="$!pkg.rate" />
            </div>
			<div id="inner-content-wrapper">
               #if($investorFlag && ($itemDto.subscribed || $itemDto.inputable))
                <!--<div class="col-sm-12 bgc yjsy sub_range" data-min="$!itemDto.minSubscribeAmount" data-max="$!itemDto.maxSubscribeAmount">
                    <span class="fs14">申购上下限区间</span><span class="fs14 c1 ml5" id="maxmin">[$!number.formatMoney($!{itemDto.minSubscribeAmount})，$!number.formatMoney($!{itemDto.maxSubscribeAmount})]元</span>
				</div>-->
                <div class="col-sm-12 bgc yjsy">
                    <span class="fs14">您的累计申购额</span><span class="fs14 c1 ml5" id="totalmoney">$!number.formatMoney($!{itemDto.totalSubscribeAmount})元</span>
                </div>
                <div class="col-sm-12 bgc yjsy">
                    <span class="fs14">预计收益</span><span class="fs14 c1 ml5 total">0.00元</span>
                </div>
                <div class="col-sm-12">
                	<p style="color: #f00"><b>温馨提示：</b>单击 [立即申购] 将直接提交申购申请，为避免操作失误，请您确认申购金额和项目无误后，再点击按钮。</p>
                </div>
                <div class="col-sm-12 bgc checklabel">
                    <input class="checkbox fl br0" id="contract-accept" type="checkbox" checked /><span
                        class="fl fs12mr5">我同意<span class="link" id="contract-link" data-contract="$!{product.contractTemplateId}">《安益金融借款合同》</span></span>
                </div>
                <div class="col-sm-12 in-btn">
                    	#if(!$marketClose && $investorFlag && $itemDto.subscribed)
                    		<button type="button" class="btn btn-mf-primary hero br0" id="purchase" >立即申购</button>
                    	#else
                    		<button type="button" class="btn btn-mf-primary hero br0 disabled" id="purchase" >立即申购</button>
                    	#end
                </div>
                #elseif(!$investorFlag)
                <div class="col-sm-12 bgc yjsy text-center">
                    <h5 class="danger shadow-meg ">您还没有投资权限！</h5>
                    <span>点击<a href="$link.contextPath/web/members/investorinfo">这里</a>申请成为投资会员</span>
                </div>
               #else
                <div class="col-sm-12 bgc yjsy text-center">
                    <h5 class="danger shadow-meg">$!itemDto.reason</h5>
                </div>
    		   #end
			</div>
        </form>
    </div>
</div>
#end
</div>
<div class="row">
   <!-- <div class="md-tabs col-sm-12">-->
        <div class="tab-content">
            <div class="tab-pane fade active in" id="finacing-detail">
                <div class="col-sm-7 lh35">
					<div class="basic-info thumbnail div-radius"><!-- -->
                        <div class="col-sm-12 header-title title-radius">
                            <h4 class=""><!--class mt40-->
                                <strong>抵押产品</strong>
                            </h4>
                        </div>
                        <div class="col-sm-12">
							<h5 class="lab-font">
								<i class="fa fa-home fa-font-color i1"></i>
								<strong>房产抵押</strong>
							</h5>
						</div>
                        <div class="col-sm-12 "><table class="table table-bordered">
                            <thead class="bgc1">
                            <tr>
                                <th>建筑面积（平米）</th>
                                <th>购买价格（万元）</th>
                                <th>市场评估值（万元）</th>
                                <th>市场价格（万元）</th>
                            </tr>
                            </thead>
                            <tbody>
                            #if($product.productMortgageResidentialDetailsDtoList && !$product.productMortgageResidentialDetailsDtoList.isEmpty())
                            #foreach($item in $product.productMortgageResidentialDetailsDtoList)
                            <tr>
                                <td>$!number.formatToThousands($!{item.area})</td>
                                <td>$!number.formatMoneyWithoutDecimal($!{item.purchasePrice})</td>
                                <td>$!number.formatMoneyWithoutDecimal($!{item.evaluatePrice})</td>
                                <td>$!number.formatMoneyWithoutDecimal($!{item.marketPrice})</td>
                            </tr>
                            #end
                            #else
                            <tr>
                                <td colspan="4">未找到记录</td>
                            </tr>
                            #end
                            </tbody>
                        </table>
                        </div>
                        <div class="col-sm-12 ">
							<h5 class="lab-font">
								<i class="fa fa-car fa-font-color"></i>
								<strong>车辆抵押</strong>
							</h5>
						</div>
                        <div class="col-sm-12 "><table class="table table-bordered">
                            <thead class="bgc1">
                            <tr>
                                <th>车辆品牌</th>
                                <th>车辆型号</th>
                            </tr>
                            </thead>
                            <tbody>
                            #if($product.productMortgageVehicleDetailsDtoList && !$product.productMortgageVehicleDetailsDtoList.isEmpty())
                            #foreach($item in $product.productMortgageVehicleDetailsDtoList)
                            <tr>
                                <td>$!{item.brand}</td>
                                <td>$!{item.type}</td>
                            </tr>
                            #end
                            #else
                            <tr>
                                <td colspan="2">未找到记录</td>
                            </tr>
                            #end
                            </tbody>
                        </table>
                        </div>
                        <div class="col-sm-12 ht2 bb1"></div>
    
                        <div class="col-sm-12">
                            <h4 class="mt20">
                                <strong>质押产品</strong>
                            </h4>
                        </div>
                        <div class="col-sm-12  "><h5 class="lab-font"><strong>动产质押</strong></h5></div>
                        <div class="col-sm-12 "><table class="table table-bordered">
                            <thead class="bgc1">
                            <tr>
                                <th>质押物名称</th>
                                <th>品种</th>
                                <th>型号</th>
                                <th>数量</th>
                                <th>价格（万元）</th>
                                <th>存放地</th>
                            </tr>
                            </thead>
                            <tbody>
                            #if($product.productPledgeDetailsDtoList && !$product.productPledgeDetailsDtoList.isEmpty())
                            #foreach($item in $product.productPledgeDetailsDtoList)
                            <tr>
                                <td>$!{item.name}</td>
                                <td>$!{item.pledgeClass}</td>
                                <td>$!{item.type}</td>
                                <td>$!{item.count}</td>
                                <td>$!number.formatMoneyWithoutDecimal($!{item.price})</td>
                                <td>$!{item.location}</td>
                            </tr>
                            #end
                            #else
                            <tr>
                                <td colspan="6">未找到记录</td>
                            </tr>
                            #end
                            </tbody>
                        </table>
                        </div> 
						<div class="col-sm-12">
                            <h5 class="lab-font"><strong>其它质押</strong></h5>
						</div>
						<div class="c6 col-sm-12 lab-font">
							<span class="c2 mr50">#if(!$!{product.otherPledge})未找到记录#else$!{product.otherPledge}#end</span>
						</div>
                        <div class="col-sm-12 ht2 bb1"></div>
                       
    
                        <div class="col-sm-12">
                            <h4 class="mt20">
                                <strong>保证担保</strong>
                            </h4>
                        </div>
                        <div class="col-sm-12 "><h5 class="lab-font"><strong>自然人：</strong></h5><div class="col-sm-8 ">$!{itemDto.warrantPersonStr}</div></div>
                        <div class="col-sm-12 "><h5 class="lab-font"><strong>法人：</strong></h5><div class="col-sm-8 ">$!{itemDto.warrantEnterpriseStr}</div></div>
                        <div class="col-sm-12 ht2 "></div>
                    </div><!-- -->
                </div>
                <div class="col-sm-5">
					<div class="basic-info thumbnail div-radius"><!-- -->
                        <div class="col-sm-12 header-title title-radius"><!-- class mt40-->
                            <h4 class="mgt0"><strong>风险概况</strong></h4>
                        </div>
                        <div class="col-sm-4  mt20 text-center ri-pad">
                            <label class="lab-font">融资项目级别</label>
                            <div class="risklevel">
    							#if($!itemDto.riskLevel.code != "Z")
    								<!--$!itemDto.riskLevel.textShort<span style="font-size:16px;margin-left: 5px;">级</span> -->
    								##<i class="fa fa-question-circle level-tip" data-code="$!itemDto.riskLevel.code" id="level-tip"></i>
    								<div class="mythumbs">
            							#if($!itemDto.riskLevel.code == "A")
    										<i class="fa fa-heart"></i>
    										<i class="fa fa-heart"></i>
    										<i class="fa fa-heart"></i>
    										<i class="fa fa-heart"></i>
    									#elseif($!itemDto.riskLevel.code == "B")
    										<i class="fa fa-heart"></i>
    										<i class="fa fa-heart"></i>
    										<i class="fa fa-heart"></i>
    									#elseif($!itemDto.riskLevel.code == "C")
    										<i class="fa fa-heart"></i>
    										<i class="fa fa-heart"></i>
    									#elseif($!itemDto.riskLevel.code == "D")
    										<i class="fa fa-heart"></i>
    									#end	
    									
            						</div>
    							#else
    								--
    							#end	
                            </div>
                             <label class="lab-font">融资会员信用积分</label>
                            <div class="risklevel">
    							#if($!itemDto.riskLevel.code != "Z")
                                $!product.financierLevel
    							#else
    								--
    							#end	
                            </div>
                            <label class="lab-font">担保机构信用积分</label>
                            <div class="risklevel">
    							#if($!itemDto.riskLevel.code != "Z")
                                $!product.warrantorLevel
    							#else
    								--
    							#end	
                            </div>
                        </div>
                        <div class="col-sm-2 r-imgs">
                            <div class="risk-img">
    							<img src="$link.contextPath/assets/img/risk_img1.png">
    						</div>
    						<div class="risk-img">
    							<img src="$link.contextPath/assets/img/risk_img2.png">
    						</div>
    						<div class="risk-img">
    							<img src="$link.contextPath/assets/img/risk_img3.png">
    						</div>
    					</div>
                        <!--<div class="col-sm-9 mt20  radar " data-id="$!itemDto.riskLevel.code,$!product.financierLevel,$!product.warrantorLevel" data-level="$!itemDto.riskLevel.textShort" >
                            #if($!itemDto.riskLevel.code != "Z")
    						<canvas id="canvas" height="400" width="400"></canvas>
    						#end
    					</div>-->
                        <div class="col-sm-12 mt20">
                            <span class="lab-font"><strong>个人资产情况</strong></span>
                        </div>
                        <div class="col-sm-12 mt20">
                            <table class="table table-bordered">
                                <thead class="bgc1">
                                <tr>
                                    <th>资产类型</th>
                                    <th>资产额（万元）</th>
                                    <th>说明</th>
                                </tr>
                                </thead>
                                <tbody>
                                #if($product.productAssetDtoList && !$product.productAssetDtoList.isEmpty())
                                #foreach($item in $product.productAssetDtoList)
                                <tr>
                                    <td>$!item.dtype.text</td>
                                    <td>$!number.formatMoneyWithoutDecimal($!{item.assertAmount})</td>
                                    <td>$!item.notes</td>
                                </tr>
                                #end
                                #else
                                <tr>
                                    <td colspan="3">未找到记录</td>
                                </tr>
                                #end
                                </tbody>
                            </table>
                        </div>
                        <div class="col-sm-12 mt20">
                            <span class="lab-font"><strong>个人负债情况</strong></span>
                        </div>
                        <div class="col-sm-12 mt20">
                            <table class="table table-bordered">
                                <thead class="bgc1">
                                <tr>
                                    <th>负债类型</th>
                                    <th>负债额（万元）</th>
                                    <th>每月还款额（元）</th>
                                    <th>说明</th>
                                </tr>
                                </thead>
                                <tbody>
                                #if($product.productDebtDtoList && !$product.productDebtDtoList.isEmpty())
                                #foreach($item in $product.productDebtDtoList)
                                <tr>
                                    <td>$!item.dtype.text</td>
                                    <td>$!number.formatMoneyWithoutDecimal($!item.debtAmount)</td>
                                    <td>$!number.formatMoney($!{item.monthlyPayment})</td>
                                    <td>$!item.notes</td>
                                </tr>
                                #end
                                #else
                                <tr>
                                    <td colspan="4">未找到记录</td>
                                </tr>
                                #end
                                </tbody>
                            </table>
                        </div>
                    </div><!-- -->
                </div>
				
            </div>
        </div>
    <!--</div>-->

</div>
<div class="row">
    <div class="md-tabs col-sm-12">
        <div class="tab-content memo-wrappers thumbnail basic-info div-radius">
            <div class="col-sm-12 header-title title-radius">
        		<h4>
                    <strong>备注</strong>
                </h4>
        	</div>
        	<div class="col-sm-12">
				<div class="pro-info">
                    <p>#if($product.notes)
                        $product.notes
                        #else
    						暂无备注信息
                        #end
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>