<link href="$link.contextPath/assets/vendor/jquery-ui-multiselect/css/jquery.multiselect.css" rel="stylesheet">
<link href="$link.contextPath/assets/vendor/jquery-ui/css/jquery-ui.css" rel="stylesheet">
<link href="$link.contextPath/assets/css/page/packet/report_common.css" rel="stylesheet">
<script src="$link.contextPath/assets/js/page/packet/loan_contract_summary.js"></script>
<div id="main-wrapper">
	<div id="search">
		<form id="loan_search">
			<div class="row">
				<div class="col-sm-2">
					<label>融资包编号</label>
					<input class="form-control" name="keyWord" placeholder="融资包编号">
				</div>
				<div class="col-sm-2">
					<label>担保机构</label>
					<input class="form-control" name="commonId" placeholder="担保机构交易编号">
				</div>
				<div class="col-sm-2">
					<label>授权服务中心交易账号</label>
					<select class="form-control" id="autorization" name="autorizationList" multiple="multiple">
						#foreach($!serviceCenterInfo in $!serviceCenterInfoList)
							<option value=$!{serviceCenterInfo}>$!{serviceCenterInfo}</option>
						#end
					</select>
				</div>
				<div class="col-sm-2">
					<label>签约起止日期</label>
					<div class="input-group">
						<input class="form-control" id="search-start-date" name="startDate" value="$!{selectDate}">
						<span class="input-group-addon">
							<i class="fa fa-calendar"></i>
						</span>
					</div>
				</div>
				<div class="col-sm-2">
					<label class="auto-width">&nbsp;</label>
					<div class="input-group">
						<input class="form-control" id="search-end-date" name="endDate" value="$!{selectDate}">
						<span class="input-group-addon">
							<i class="fa fa-calendar"></i>
						</span>
					</div>
				</div>
				<div class="col-sm-2">
				<label class="auto-width">&nbsp;</label>
				<a class="btn btn-mf-primary" id="loan-search-btn">
					<i class="fa fa-search"></i>&nbsp;查询
				</a>
			</div>
			</div>
		</form>
	</div>
	<div class="iframe-wrapper">
		<iframe  width="100%" id="main-frame" class="kmfex-frame" scrolling="no"></iframe>
	</div>																	
</div>
