<link rel="stylesheet" href="$link.contextPath/assets/css/page/packet/member_audit_search.css">
<script src="$link.contextPath/assets/js/page/packet/member_audit_search.js" type="text/javascript"></script>
<div id="search-area" class="row">
	<form id="member-audit-form">
    	<div class="col-sm-2">
    		<label>提交审核起止日期</label>
    			<div class="input-group">
                        <input type="text" value="$!selectDate" name="startDate" id="search-start-date" class="form-control" readonly="readonly"> <span class="input-group-addon"><i class="fa fa-calendar"></i> </span>
                 </div>
        </div>
    	
    	<div class="col-sm-2">
    		<label>&nbsp;</label>
    			<div class="input-group">
                        <input type="text" value="$!selectDate" name="endDate" id="search-end-date" class="form-control" readonly="readonly"> <span class="input-group-addon"><i class="fa fa-calendar"></i> </span>
                 </div>
        </div>
    	<div class="col-sm-3">
    		<label>关键字</label>
    		<div class="full-oqp">
    			<input type="text" name="keyWord" class="form-control" placeholder="输入用户名、会员名称、开户机构..."/>
            </div>	
        </div>
        <div class="col-sm-2">
        	<label style="width:100%">&nbsp;</label>
        	<div>
                <a  class="btn btn-mf-primary" id="member-audit-btn"><i class="fa fa-search"></i>查询</a>
            </div>	
        </div>
    </form>
</div>
<div class="iframe-wrapper">
	<iframe  width="100%" id="member-frame" class="kmfex-frame" scrolling="no"></iframe>
</div>	