<div class="modal modal-micro fade" id="modal-log" tabindex="-1" role="dialog" aria-labelledby="logModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="logModalLabel">日志</h4>
            </div>
            <div class="modal-body">
                <div class="modal-table">
                    <table class="display" id="table-log" cellspacing="0" cellpadding="0" border="0">
                        <thead>
                            <tr>
                                <th data-mData="operateTime" data-bSortable="false">日志时间</th>
                                <th data-mData="operateUser" data-bSortable="false">操作人</th>
                                <th data-mData="action.text" data-bSortable="false">操作</th>
                                <th data-mData="comment" data-bSortable="false">内容</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>
