
<!-- Modal -->
<div class="modal fade modal-micro" id="modal" tabindex="-1" role="dialog" aria-labelledby="modal-title" aria-hidden="true">
    <div class="modal-dialog">
		<form id="modal-form" method="POST">
        <div class="modal-content" id="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="modal-title">确认终止</h4>
            </div>
            <div class="modal-body" id="modal-body">

            </div>
            <div id="modal-footer-wrapper">
            </div>
        </div>
        </form><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

