<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>安益金融</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
		<link href="$link.contextPath/assets/img/favicon.ico" rel="icon" type="image/x-icon"/>
		
        <!-- Bootstrap core CSS -->
        <link href="$link.contextPath/assets/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
        	rel="stylesheet">
        <link href="$link.contextPath/assets/vendor/jquery.spinner/bootstrap-spinner.css"
        	rel="stylesheet">
        <link href="$link.contextPath/assets/vendor/font-awesome/css/font-awesome.css"
        	rel="stylesheet">
        <link href="$link.contextPath/assets/vendor/pnotify/jquery.pnotify.default.css"
        	rel="stylesheet">
        <link href="$link.contextPath/assets/vendor/pnotify/jquery.pnotify.default.icons.css"
        	rel="stylesheet">
        <link href="$link.contextPath/assets/vendor/jquery.raty/jquery.raty.css" rel="stylesheet">
        <link href="$link.contextPath/assets/css/common.css" rel="stylesheet">
        <link href="$link.contextPath/assets/css/form.css" rel="stylesheet">
        <link href="$link.contextPath/assets/css/plugins.css" rel="stylesheet">
        
    	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	    <!--[if lt IE 9]>
	    <script type="text/javascript" src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	    <script type="text/javascript" src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	    <![endif]-->
	    <script type="text/javascript" src="$link.contextPath/assets/js/require.js"></script>
    	<!-- Global variable module which will take variables from sever side -->
    	<script type="text/javascript">
	        define('global', {
	            context: '$link.contextPath'
	            #if ( $mainMenuCode )
	            , mc: '$mainMenuCode'
	            #end
	            #if ( $subMenuCode )
	            , sc: '$subMenuCode'
	            #end
	        })
    	</script>
    	<script type="text/javascript" src="$link.contextPath/assets/js/base.js"></script>
    </head>
    <body>
		#parse("common/header.vm")
		<div class="km-loading-mask" style="display:none">
			<div class="km-loading-img">
				<img width="100%" height="100%" src="$link.contextPath/assets/img/ajax_loader_gray_128.gif" />
			</div>
		</div>		
		<!-- Main content for a primary screen or call to action -->
        $screen_content			
		#parse("common/footer.vm")
        <div class="is-dev hide">$config.isDevEnv()</div>
    </body>
</html>