.basic-info {
	border: 1px solid #D4D4D4;
	padding: 0px;
	position: relative;
	float: left;
	border-radius: 0px;
	width: 100%;
}

.container-mk {
	posation: relative;
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;

}

.fn-right {
	float: right;
}

.header-title {
	border-bottom: 1px solid #D6B49C;
}

.br1 {
	border-right: 1px solid #D6B49C;
}

.bb1 {
	border-bottom: 1px solid #D6B49C;
}

.fs30 {
	font-size: 30px;
	font-style: normal;
}

.bt1 {
	border-top: 1px solid #D6B49C;
}

.ht1 {
	height: 20px;
}

.ht2 {
	height: 40px;
}

.ht3 {
	height: 60px;
}

.fc {
	color: #DD511B;
}

.check-link {
	color: #DD511B;
}

.mk {
	border: 1px solid #AA4F24;
}

.tip {
	top: 26px;
	right: 23px;
	color: #F1850F;
}

.pr {
	position: relative;
}

.pa {
	position: absolute
}

.form-mk {
	padding: 20px;
/* 	height: 320px; */
	padding-top:5px;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.lh38 {
	line-height: 38px
}

.mt10 {
	margin-top: 10px;
}

.mt15 {
	margin-top: 15px;
}

.mt20 {
	margin-top: 20px;
}

.mt40 {
	margin-top: 40px;
}

.mb40 {
	margin-bottom: 40px;
}

.br0 {
	border-radius: 0px;
}

.checklabel {
	margin: 15px;
	margin-left: 0px;
}

.right-blk-body .btn {
	width: 100%;
	margin-bottom: 12px;
	color: #fff;
	padding: 10px 16px;
	line-height: 1.33;
	height: 44px;
}

.dbjgtext {
	color: #993E3E;
}

.cg {
	color: #DD511B;
}

.cr {
	color: red;
}

.ml5 {
	margin-left: 5px;
}

.ml20 {
	margin-left: 20px;
}

.xydj {
	background-color: rgba(220, 220, 220, 0.5);
}

.xydjd {
	font-size: 14px;
	margin-left: 15px;
}

.xylevel {
	font-size: 40px;
	margin-left: 30px;
	color: #DD511B;
}

.fico {
	font-size: 32px
}

.bgc1 {
	background-color: rgba(220, 220, 220, 0.5);
}

/*bootstrap-progress*/
.progress {
	margin-bottom: 0px;
	background-color: #E2DCDC;
}

.bc1 {
	background-color: #DD511B;
}

.c1 {
	color: #f37800;
}

.zf {
	margin-left: 5px;
}

.num {
	margin-left: 5px;
	margin-right: 5px;
}

.yzm {
	height: 30px;
	width: 80%;
}

.lh {
	line-height: 24px;
}

.yjsy {
	margin: 5px 0px 5px 0px;
}

.fs12mr5 {
	font-size: 12px;
	margin: 5px 0px 0px 3px
}

/* .col-sm-4 {
	font-size: 16px;
} */
.lf50 {
	left: 50%;
	color: #333;
}

.lh35 {
	line-height: 35px;
}
/*bootstrap-progress*/
/* .bgc {
	background-color: #E7DAD3;
} */

/*market detail tabs*/
.md-tabs .nav-tabs {
	border-bottom: 1px solid #AA4F24;
}

.md-tabs .nav-tabs .active a,.md-tabs .nav-tabs .active a:hover {
	color: #555;
	background-color: #fff;
	border: 1px solid #FFFFFF;
	border-color: #AA4F24 #AA4F24 rgba(0, 0, 0, 0);
}

.nav-tabs>li>a:hover {
	border-color: #AA4F24 #AA4F24 rgba(0, 0, 0, 0);
}

.tab-pane:after {
	content: ".";
	height: 0;
	display: block;
	visibility: hidden;
	clear: both;
}

.md-tabs .tab-content {
	border: 1px solid #D4D4D4;
	background-color: #fff;
}

.b3 {
	background-color: #D1C8C8;
}

.b2 {
	background-color: #DFD9D9;
}

.b1 {
	background-color: #E7E7E7;
}

.tab-content .col-sm-4 {
	color: #666
}

.tab-content .col-sm-8 {
	color: #222
}

.center {
	text-align: center;
}

.txt {
	margin-top: 30px;
	line-height: 30px;
}

.c2 {
	color: #222;
}

.c6 {
	color: #666;
}

.mr50 {
	margin-right: 30px;
}

.status {
	color: #DD511B;
	font-size: 15px;
}

.notice {
	font-size: 14px;
	color: red;
	margin-left: 50px;
    margin-bottom:10px;
    display:block;
}
.mrk{
	padding-top: 30px;
}
.mrjg{
	font-size: 22px;
}
.sxf{
	font-size: 22px;
}
#finacing-detail .table th{
	font-size: 12px;
}
.link {
	cursor: pointer;
	color: #428bca;
}




/* 模拟empty layout*/
.page-wrapper{
    padding-left:0 !important;
    padding-top:0 !important;
}
#message,.navbar,.right-blk-head,.menu-ph{
    display: none !important;
}
.right-blk{
    padding-top: 0;
}


.memo-wrapper{
    padding:20px;
    margin-top:20px;
}


.no-padding{
	padding:0px;
}

.risklevel{
    color: #f37800;
    font-size: 27px;
    text-align: center;
    margin-bottom: 24px;
}
.bl1{
	border-left: 1px solid #D6B49C;
}
.mg-t20{
	margin-top: 20px;
}
 .popover{
 	max-width: 420px;
 }
 .confirm-wrapper{
 	margin-left: 160px;
	margin-top: 21px;
 }
 .transfer-warning-message{
 	/* position: absolute;
	top: 47px;
	left: 50%;
	margin-left: -91px; */
	color: red;
	margin-bottom: 3px;
 }
 .tran-buy-lab{
 	display: inline-block;
	width: 108px;
 }
 .shadow-meg{
 	color: red;
	text-shadow: 3px 3px 3px #D5D5D5;
	text-align: left;
 }
 .danger{
 	font-size: 17px;
 }
 .level-tip{
	font-size: 13px;
	position: absolute;	
}
.level-tip-msg{
	color:black;
	font-size: 13px;
	font-weight: normal;
	width:380px;
	margin-bottom: 0px;
}
.mythumbs{
	margin-top: -5px;
	text-align: center;
	font-size: 18px;
}
.mythumbs .fa-thumbs-o-up{
	margin-right: 4px;
}
.ml12{
	margin-left: 12px;
}
.wrdesc-tip-msg{
	line-height: 22px;
}
.pd15{
	padding:0px 15px;
}