.right-blk-body-in {
	height: 87%;
}

.right-blk-body-foot {
	display: none;
	margin-top: 1%;
}

#market-table tbody tr.odd.row-selected {
	background-color: #9FAFD1;
}

#market-table tbody tr.even.row-selected {
	background-color: #9FAFD1;
}

#transfer-table tbody tr.odd.row-selected {
	background-color: #9FAFD1;
}

#transfer-table tbody tr.even.row-selected {
	background-color: #9FAFD1;
}
#transfer-table th, #transfer-table td, #transfer-table .btn {
	font-size: 12px;
}

/* table.dataTable tr.odd {
	cursor: pointer;
}

table.dataTable tr.even {
	cursor: pointer;
}
.cp {
	cursor: pointer;
} */
.btn-detail:hover,.btn-detail:focus {
	color: #fff;
}

.basic-info {
	border-bottom: 1px solid #CF752E;
}

.ht760 {
	height: 760px;
}

table.dataTable thead th {
	font-size: 12px;
}
#markettable thead th {
	font-size: 13px;
}
.c0 {
	color: #fff;
}

.full-oqp {
	display: table;
	width: 100%;
	font-size: 12px;
	line-height: 30px;
}

.full-oqp>.oqp-leading {
	width: 40%;
	display: table-cell;
	padding-right: 5px;
	text-align: right;
}

.full-oqp>.oqp-input {
	display: table-cell;
	width: 60%;
	max-width: 120px;
}

.full-oqp>.oqp-input>input,.full-oqp>.oqp-input>select {
	height: 26px;
	line-height: 26px;
	margin-bottom: 0px;
	min-height: 26px;
}

.pr {
	position: relative;
}

.dd {
	font-size: 30px;
	color: #551f03;
}

.detail-down {
	position: absolute;
	top: 14px;
	left: 50%;
	cursor: pointer;
}
/*bootstrap-progress*/
.progress {
	margin-bottom: 0px;
	height: 22px;
	background-color: #f5f5f5;
}

.progress-bar {
	line-height: 15px;
	background-color: #E59D4E;
}

/* .header {
	margin-bottom: 30px;
} */
/*bootstrap-progress*/
#market-table tbody tr.even.row-selected {
	background-color: #9FAFD1;
}
.btn-submit {
	float: right;
	margin: 0 10px;
}

.mt10 {
	margin-top: 10px;
}

.br0 {
	border-radius: 0px;
}

.pa {
	position: absolute;
}

.void-label {
	width: 100%;
}

.lf30 {
	left: 30%;
}

.btn-detail {
	background-color: #E67E22;
	border-color: #E67E22;
	margin-left: 12px;
	color: #fff;
	border-radius: 0px;
}

.btn-detail:hover {
	background-color: #D35400;
	border-color: #D35400;
	color: #fff;
}

.btn-group>.btn:first-child {
	margin-left: 12px;
}

.purchased {
	width: 100%;
}

.message {
	float: right;
	color: #D35400;
}

.ml10 {
	margin-left: 10px;
}

#total {
	width: 100%;
	height: 30px;
}

.balance {
	color: #D35400;
}

.wh90 {
	width: 115px;
}

.wh70 {
	width: 70px;
}

.bk {
	background-color: #E6E5EA;
}

.search {
	margin-bottom: 0px;
}

.search-form {
	height: 50px;
	border-bottom: 3px solid #B36512;
}

.mt10 {
	margin-top: 10px;
}

.notice {
	margin-left: 24px;
	font-size: 12px;
	color: red;
}

.flag {
	background-color: #E74C3C;
	margin-right: 5px;
	padding: .1em .1em .1em;
}

.danger {
	color: red;
	text-shadow: 3px 3px 3px #D5D5D5;
	font-size: 17px;
}

/* .tdpay {
	font-size: 17px;
	color: #DA4313;
} */

.creditlevel {
	display: block;
	border-radius: 23px;
	width: 36px;
	height: 36px;
	line-height: 36px;
	font-size: 14px;
	font-style: normal;
	text-align: center;
	text-decoration: none;
	color: #fff;
	margin: 0 auto;
	font-weight: bold;
}
.creditlevel:hover{
	text-decoration: none;
	color: #fff;
}
.creditlevel.A{
	background: #51C710;
}
.creditlevel.B{
	background: #d2da2d;
}
.creditlevel.C{
	background: #F39B18;
}
.creditlevel.D{
	background: #ee4f17;
}
.bgp{
	background: #F79032;
	color: #fff;
}
.btn.purchase{
	padding-left: 9px;
	padding-right: 9px;
}
.market-transfer-warning{
	line-height: 23px;
}
.market-transfer-warning i{
	font-size: 23px;
	margin-right: 15px;
}
.confirm-wrapper{
	margin-left: 160px;
	margin-top: 21px;
}
#confirm-content{
	margin-top: 0px;
}
.market-transfer-o1{
	margin-top: 7px;
}
.header-search {
	background: white;
	padding: 10px 11px 4px 11px;
	margin-bottom: 20px;
}
.balance .popover-content{
	font-weight: normal;
	color: black
}
.pop-transfer-title{
	vertical-align: top;
}
.pop-transfer-con{
	width: 121px;
	display: inline-block;
}
.overdue{
	color:red;
}
.overdue:hover,.overdue:focus{
	color:rgb(223, 58, 58);
}
.popover{
	max-width: 400px;
}
.popover-content{
	width: 280px;
	margin: 0 auto;
	font-size: 15px;
}
.popover-item .popover{
	max-width: 276px;
}
.popover-item .popover-content{
	width:auto;
	margin: 0 auto;
	font-size: 13px;
}
.popover-item{
	margin-bottom: 5px;
	margin-left: 17px;
}
.loss{
	color: red;
	font-weight: bold;
}
.transfer-role-area{
	background: white;
	padding: 15px;
	border-radius: 14px;
	color: black;
	box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
	margin-top: 10px;
}
.mylable{
	font-size: 17px;
	padding: .12em .8em 0.23em;
}
.level-wrapper{
	margin-top: 15px;
}
.label.A{
	background: #51C710;
}
.label.B{
	background: #d2da2d;
}
.label.C{
	background: #F39B18;
}
.label.D{
	background: #ee4f17;
}
.mythumbs{
	margin-top: 8px;
	text-align: center;
}
.mythumbs .fa-thumbs-o-up{
	margin-right: 4px;
}
.mythumbs.A{
	color: #51C710;
}
.mythumbs.B{
	color: #d2da2d;
}
.mythumbs.C{
	color: #F39B18;
}
.mythumbs.D{
	color: #ee4f17;
}
.dataTable .mylable{
	font-size: 13px;
}
.dataTable .mythumbs{
	text-align: left;
}