<div id="contract-detail-wrapper">
	<form class="form-horizontal" role="form" id="form-contract"
		method="POST"
		action="$link.contextPath/web/member/authzdctr/agencyFee/constract/manage/constract/save"
		data-save-action="$link.contextPath/web/members/register/memberagent/save">
		<h3>合同信息</h3>
		<input type="hidden" name="id"/>
		<input type="hidden" name="version"/>
		<input type="hidden" name="orgId"/>
		<div class="row">
			<div class="col-sm-6">
				<div class="form-group">
					<label class="col-sm-4 control-label">服务中心全称</label>
					<div class="col-sm-6">
						<span class="hidden-form-control authzd-ctr-name"></span>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="form-group">
					<label class="col-sm-4 control-label">服务中心交易账号</label>
					<div class="col-sm-6">
						<span class="hidden-form-control authzd-ctr-acct-no"></span>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<div class="form-group">
					<label class="col-sm-4 control-label required">合同名称</label>
					<div class="col-sm-6">
						<input maxlength="25" type="text" class="form-control" 
							data-validate="{required:true,stringMinLength:4,stringMaxLength:15}"
							name="contractName" />
						<!-- <div class="alert alert-warning" style="margin-bottom: 0; clear: left;">
							<i class="fa fa-exclamation-triangle fa-lg"></i> <strong>注：密码默认为身份证号码后6位</strong>
						</div> -->
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="form-group">
					<label class="col-sm-4 control-label required">合同类型</label>
					<div class="col-sm-6">
						<select name="contractType" class="form-control" id="contractType">
							<option value="A">A</option>
							<option value="B">B</option>
						</select>
						
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<div class="form-group">
					<label class="col-sm-4 control-label required">合同有效期起</label>
					<div class="col-sm-6">
						<div class="input-group">
							<input type="text" class="form-control search-date" 
							data-validate="{required:true}"
								name="startDt"/><span class="input-group-addon"><i class="fa fa-calendar"></i> </span>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="form-group">
					<label class="col-sm-4 control-label required">合同有效期止</label>
					<div class="col-sm-6">
						<div class="input-group">
							<input type="text" class="form-control search-date" 
								data-validate="{required:true}"
								name="endDt" /><span class="input-group-addon"><i class="fa fa-calendar"></i> </span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--<div class="row">
			<div class="col-sm-6">
				<div class="form-group">
					<label class="col-sm-4 control-label">业务类型</label>
					<div class="col-sm-6">
						<input maxlength="25" type="text" class="form-control" 
							name="bisunessType" />
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="form-group">
					<label class="col-sm-4 control-label">负责人</label>
					<div class="col-sm-6">
						<input maxlength="25" type="text" class="form-control" 
							name="director" />
					</div>
				</div>
			</div>
		</div>-->
		<div class="row">
			<!--<div class="col-sm-6">
				<div class="form-group">
					<label class="col-sm-4 control-label">渠道部负责人</label>
					<div class="col-sm-6">
						<input maxlength="25" type="text" class="form-control" 
							name="chanDirector" />
					</div>
				</div>
			</div>-->
			<div class="col-sm-6">
				<div class="form-group">
					<label class="col-sm-4 control-label required">席位费标准</label>
					<div class="col-sm-6">
						<input maxlength="25" type="text" class="form-control" 
							data-validate="{required:true}"
							name="seatFeeAmt" />
					</div>
				</div>
			</div>
		</div>
		<!--<div class="row">
			<div class="col-sm-6">
				<div class="form-group">
					<label class="col-sm-4 control-label">状态</label>
					<div class="col-sm-6">
						<input maxlength="25" type="text" class="form-control" 
							name="state" />
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="form-group">
					<label class="col-sm-4 control-label">备注</label>
					<div class="col-sm-6">
						<input maxlength="25" type="text" class="form-control" 
							name="note" />
					</div>
				</div>
			</div>
		</div>-->
		<h3>分配比例</h3>
		<div class="row type_a">
			<div class="col-sm-6">
				<div class="form-group">
					<label class="col-sm-4 control-label required">A类三月</label>
					<div class="col-sm-6">
						<input maxlength="25" type="text" class="form-control" 
							data-validate="{required:true}"
							name="month3RT" />
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="form-group">
					<label class="col-sm-4 control-label required">A类六月</label>
					<div class="col-sm-6">
						<input maxlength="25" type="text" class="form-control" 
							data-validate="{required:true}"
							name="month6RT" />
					</div>
				</div>
			</div>
		</div>
		<div class="row type_a">
			<div class="col-sm-6">
				<div class="form-group">
					<label class="col-sm-4 control-label required">A类九月</label>
					<div class="col-sm-6">
						<input maxlength="25" type="text" class="form-control" 
							data-validate="{required:true}"
							name="month9RT" />
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="form-group">
					<label class="col-sm-4 control-label required">A类十二月</label>
					<div class="col-sm-6">
						<input maxlength="25" type="text" class="form-control" 
							data-validate="{required:true}"
							name="month12RT" />
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6 type_b">
				<div class="form-group">
					<label class="col-sm-4 control-label required">B类分配比例</label>
					<div class="col-sm-6">
						<input maxlength="25" type="text" class="form-control" 
							data-validate="{required:true}"
							name="allocRT" />
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="form-group">
					<label class="col-sm-4 control-label required">每月核算标准比例</label>
					<div class="col-sm-6">
						<input maxlength="25" type="text" class="form-control" 
							data-validate="{required:true}"
							name="actgStdRT" />
					</div>
				</div>
			</div>
		</div>


		<!-- 提交重置Button -->
		<div class="row row-button">
			<div class="col-sm-5 col-sm-offset-6">
				<div class="col-sm-4 col-xs-12">
					<a class="btn btn-default form-btn-reset" id="form-btn-reset">重置</a>
				</div>
				<div class="col-sm-4 col-xs-12">
					<button type="submit" class="btn btn-default form-btn-submit"
						id="person-info-sub">保存</button>
				</div>
			</div>
		</div>

	</form>
</div>

