<div id="financierinfo-org" class="info-organization $!hasPrefix" data-prefix="$!financierPrefix">
	#if($financierInfo.showServiceCenter)
    	<div class="row">
    		<div class="col-sm-6">
				<div class="form-group">
    				<label class="col-sm-4 control-label">授权服务中心</label>
    				<div class="col-sm-8">
    					<span class="hidden-form-control" name="auth_center.name"></span> 
    					<select	class="form-control auth_center" name="auth_center.userId" #if($financierInfo.fixedAgency) disabled #end>
    						#foreach($option in $serviceCenterList)
    							<option value="$!option.agencyApplication.userId" #if($!financierInfo.authCenter.userId == $!option.agencyApplication.userId) selected #end >$!option.agencyApplication.name</option>
    						#end
    					</select>
    				</div>
    			</div>
    		</div>
    		<div class="col-sm-6">
    			<div class="form-group">
    				<label class="col-sm-4 control-label">受理人</label>
    				<div class="col-sm-8">
    					<span class="hidden-form-control" name="agent"></span>
    					<input maxlength="25" type="text" class="form-control agent" name="agent" #if($financierInfo.fixedAgency) value="$!financierInfo.agent" disabled #end>
    				</div>
    			</div>
    		</div>
    	</div>
	#end
	<div class="row">
		<div class="col-sm-6">
			<div class="form-group">
				<label class="col-sm-4 control-label">注册资本金</label>
				<div class="col-sm-8">
					<span class="hidden-form-control" name="register_capital"></span> <input maxlength="10" type="text"
						class="form-control" name="register_capital">
				</div>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="form-group">
				<label class="col-sm-4 control-label">股东信息及占股比例</label>
				<div class="col-sm-8">
					<span class="hidden-form-control" name="stockholder"></span> <input maxlength="50" type="text"
						class="form-control" name="stockholder">
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-6">
			<div class="form-group">
				<label class="col-sm-4 control-label">品牌名称</label>
				<div class="col-sm-8">
					<span class="hidden-form-control" name="brand"></span> <input maxlength="20" type="text"
						class="form-control" name="brand">
				</div>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="form-group">
				<label class="col-sm-4 control-label required">组织机构代码</label>
				<div class="col-sm-8">
					<span class="hidden-form-control" name="org_number"></span>
					<input maxlength="10" type="text" data-validate="{required:true}" class="form-control" name="org_number">
					<input type="hidden" name="userId" value="$!financierInfo.userId" />
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-6">
			<div class="form-group">
				<label class="col-sm-4 control-label">组织机构代码扫描图</label>
				<div class="col-sm-8">
					<img class="hidden-form-control" name="org_number_file_url"></img> <div
                    class="file-upload" id="org_number_file" name="org_number_file" data-validate="{extension:'jpg,jpeg,png,gif,pdf'}"></div>
				</div>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="form-group">
				<label class="col-sm-4 control-label required">营业执照代码</label>
				<div class="col-sm-8">
					<span class="hidden-form-control" name="licence_number"></span> <input maxlength="15" type="text" data-validate="{required:true}"
						class="form-control" name="licence_number">
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-6">
			<div class="form-group">
				<label class="col-sm-4 control-label required">营业执照扫描图</label>
				<div class="col-sm-8">
					<img class="hidden-form-control" name="licence_file_url"></img> <div
                    class="file-upload" id="licence_file" name="licence_file" data-validate="{required:true,extension:'jpg,jpeg,png,gif,pdf'}"></div>
				</div>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="form-group">
				<label class="col-sm-4 control-label">税务登记号码</label>
				<div class="col-sm-8">
					<span class="hidden-form-control" name="fax_register_number"></span> <input maxlength="15" type="text"
						class="form-control" name="fax_register_number">
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-6">
			<div class="form-group">
				<label class="col-sm-4 control-label">税务登记证扫描图</label>
				<div class="col-sm-8">
					<img class="hidden-form-control" name="fax_register_file_url"></img> <div
                    class="file-upload" id="fax_register_file" name="fax_register_file" data-validate="{extension:'jpg,jpeg,png,gif,pdf'}"></div>
				</div>
			</div>
		</div>
		<div class="col-sm-6">
		</div>
	</div>


	<div class="row">
		<div class="col-sm-6">
			<div class="form-group">
				<label class="col-sm-4 control-label">会员申请表下载</label>
				<div class="col-sm-8">
					#*<a href="$link.contextPath/assets/doc/applicationform.doc">点击下载</a>*#
					<a href="$link.contextPath/web/downloadFile/applicationform">点击下载</a>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6">
			<div class="form-group">
				<label class="col-sm-4 control-label">会员申请表第一页</label>
				<div class="col-sm-8">
					<img name="application_img_first_url" class="hidden-form-control"></img>  
					<div class="file-upload" #if ($!financierInfo.fixedStatus.applicationFormFixed) data-disabled="true" #end id="financier_application_img_first" name="application_img_first" data-validate="{docextension:'jpg,jpeg,png,gif,pdf,doc,docx'}"></div>
				</div>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="form-group">
				<label class="col-sm-4 control-label">会员申请表第二页</label>
				<div class="col-sm-8">
					<img name="application_img_second_url" class="hidden-form-control"></img>  
					<div class="file-upload" #if ($!financierInfo.fixedStatus.applicationFormFixed) data-disabled="true" #end id="financier_application_img_second" name="application_img_second" data-validate="{docextension:'jpg,jpeg,png,gif,pdf,doc,docx'}"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6">
			<div class="form-group">
				<label class="col-sm-4 control-label">征信记录</label>
				<div class="col-sm-8">
					<span class="hidden-form-control" name="credit_hist.text"></span> <select type="text"
						class="form-control" name="credit_hist.code">
						#foreach($option in $creditHistList)
							<option value="$option.code">$option.text</option>
						#end
                    </select>
				</div>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="form-group">
				<label class="col-sm-4 control-label">经营所在地居住时间</label>
				<div class="col-sm-8">
					<span class="hidden-form-control" name="residence.text"></span> <select type="text"
						class="form-control" name="residence.code">
						#foreach($option in $residenceList)
							<option value="$option.code">$option.text</option>
						#end
                    </select>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-6">
			<div class="form-group">
				<label class="col-sm-4 control-label">家庭状况</label>
				<div class="col-sm-8">
					<span class="hidden-form-control" name="family_status.text"></span> <select type="text"
						class="form-control" name="family_status.code">
						#foreach($option in $familyStatustList)
							<option value="$option.code">$option.text</option>
						#end
                    </select>
				</div>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="form-group">
				<label class="col-sm-4 control-label">企业成立年限/核心管理层从业经营</label>
				<div class="col-sm-8">
					<span class="hidden-form-control" name="found_age.text"></span> <select type="text"
						class="form-control" name="found_age.code">
						#foreach($option in $orgAgeList)
							<option value="$option.code">$option.text</option>
						#end
                    </select>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-6">
			<div class="form-group">
				<label class="col-sm-4 control-label">借款人家庭及企业资产总值</label>
				<div class="col-sm-8">
					<span class="hidden-form-control" name="total_assert.text"></span> <select type="text"
						class="form-control" name="total_assert.code">
						#foreach($option in $totalAssetsList)
							<option value="$option.code">$option.text</option>
						#end
                    </select>
				</div>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="form-group">
				<label class="col-sm-4 control-label">借款人家庭及企业资产负债比</label>
				<div class="col-sm-8">
					<span class="hidden-form-control" name="debt_radio.text"></span> <select type="text"
						class="form-control" name="debt_radio.code">
						#foreach($option in $debtRatioList)
							<option value="$option.code">$option.text</option>
						#end
                    </select>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-6">
			<div class="form-group">
				<label class="col-sm-4 control-label">授信期限内主营业务收入与期限内到期债务比 </label>
				<div class="col-sm-8">
					<span class="hidden-form-control" name="income_debt_ratio.text"></span> <select type="text"
						class="form-control" name="income_debt_ratio.code">
						#foreach($option in $incomeDebtRatioList)
							<option value="$option.code">$option.text</option>
						#end
                    </select>
				</div>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="form-group">
				<label class="col-sm-4 control-label">单一客户集中度</label>
				<div class="col-sm-8">
					<span class="hidden-form-control" name="concentra.text"></span> <select type="text"
						class="form-control" name="concentra.code">
						#foreach($option in $concentraList)
							<option value="$option.code">$option.text</option>
						#end
                    </select>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-6">
			<div class="form-group">
				<label class="col-sm-4 control-label">利润率</label>
				<div class="col-sm-8">
					<span class="hidden-form-control" name="profit_ratio.text"></span> <select type="text"
						class="form-control" name="profit_ratio.code">
						#foreach($option in $profitRatioList)
							<option value="$option.code">$option.text</option>
						#end
                    </select>
				</div>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="form-group">
				<label class="col-sm-4 control-label">主营业务收入增长率</label>
				<div class="col-sm-8">
					<span class="hidden-form-control" name="revenue_growth.text"></span> <select type="text"
						class="form-control" name="revenue_growth.code">
						#foreach($option in $growthList)
							<option value="$option.code">$option.text</option>
						#end
                    </select>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-6">
			<div class="form-group">
				<label class="col-sm-4 control-label">主营业务下游客户分布的地域范围</label>
				<div class="col-sm-8">
					<span class="hidden-form-control" name="customer_dist.text"></span> <select type="text"
						class="form-control" name="customer_dist.code">
						#foreach($option in $customerDistList)
							<option value="$option.code">$option.text</option>
						#end
                    </select>
				</div>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="form-group">
				<label class="col-sm-4 control-label">社会地位</label>
				<div class="col-sm-8">
					<span class="hidden-form-control" name="social_status.text"></span> <select type="text"
						class="form-control" name="social_status.code">
						#foreach($option in $socialStatusList)
							<option value="$option.code">$option.text</option>
						#end
                    </select>
				</div>
			</div>
		</div>
	</div>
	#if($financierInfo.hasLevel())
    	<div class="row">
    		<div class="col-sm-6">
    			<div class="form-group">
    				<label class="col-sm-4 control-label required">会员等级</label>
    				<div class="col-sm-8">
    					<span class="hidden-form-control" name="financierLevel.text"></span>
						<select type="text" disabled
    						class="form-control" name="financierLevel.code">
    						#foreach($option in $financierLevelList)
    							<option value="$option.code">$option.text</option>
    						#end
                        </select>
    				</div>
    			</div>
    		</div>
            <div class="col-sm-6"></div>
        </div>
	#end
</div>
