<div class="modal fade modal-micro" id="onlineProModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
					  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">投资会员协议</h4>
                </div>
                <div class="modal-body">
<p align="center">
	<strong>云南安益互联网金融交易服务有限公司</strong></p>
<p align="center">
	<strong>个人投资人会员协议</strong></p>
<p align="center">
	&nbsp;</p>
<p align="left">
	甲方：<strong>云南安益互联网金融交易服务有限公司&nbsp;&nbsp; </strong></p>
<p align="left">
	（简称：安益互联网金融交易公司）</p>
<p>
	&nbsp;</p>
<p align="left">
	乙方：</p>
<p align="left">
	（简称：会员，投资人）</p>
<p align="left">
	鉴于：</p>
<p align="left">
	乙方希望成为甲方会员，通过甲方的专业投融资服务技术平台寻找可信赖的投资对象，融出、借出资金，帮助那些通过甲方审核认定的融资人会员（融资人、借款人）维持经营/创业/发展事业/或者处理个人事务，从中获取投资收益；甲方则依法获得云南省人民政府金融办公室支持设立的批复文件，并取得相应的营业执照，具有规范、安全、完善的交易服务机制，帮助交易双方放心投融资。为此，本合同双方根据我国《民法通则》、《合同法》、民间借贷政策法规、金融管理法规等相关法律法规，在自愿、平等、协商一致的基础上，签订本合同，各方信守。</p>
<p align="left">
	&nbsp;</p>
<p align="left">
	定义：本协议下列概念定义如下：</p>
<p align="left" style="margin-left:18pt;">
	1．&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 投资人是仅指经本人申请，经甲方审查资格条件后获得甲方批准成为&ldquo;安益互联网金融交易技术服务平台&rdquo;的会员，本人投资需要委托甲方，通过甲方投融资技术服务平台，融出、借出经营资金、创业资金或者其它生产生活资金。不包括融入、借入资金的融资人、借款人。融入、借入资金的融资人、借款人需与甲方另行签订会员协议。</p>
<p align="left" style="margin-left:18pt;">
	2．&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&ldquo;云南安益互联网金融交易技术服务平台&rdquo;（以下简称本平台）是甲方向会员提供的用于资金融出、借出服务的投融资技术服务平台。</p>
<p align="left" style="margin-left:18pt;">
	3．&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 交易账户：指在会员使用上述平台时，安益互联网金融交易公司向会员提供的唯一编号或者代码。会员可自行修改密码，用以登录、查询会员的资金、权益、通知、电子合同、操作记录等信息，并通过交易账户提供的功能进行投融资指令的提交、信息的确认、电子合同的签署等为实现会员依据本协议享有的全部权能的操作。</p>
<p align="left">
	&nbsp;</p>
<p align="left">
	<strong>第一条&nbsp;&nbsp; </strong>在签署本协议前，乙方已经仔细阅读并签署了《风险提示书》，充分了解投资交易的风险，并自愿完成承担《风险提示书》中所提及或指向的任何风险。《风险提示书》是本协议的组成部分。</p>
<p align="left">
	<strong>第二条&nbsp;&nbsp; </strong>乙方承诺遵守甲方有关会员、投资、交易及为实现乙方依据本协议享有的全部权能的各项规则、规定及管理办法，如出现违反的情况，乙方同意甲方根据相关规定及办法进行相关处理，自愿承担因此产生的全部风险和法律责任，并放弃任何的抗辩和权利主张。</p>
<p align="left">
	<strong>第三条&nbsp;&nbsp; </strong>乙方在甲方平台进行的各项投资、交易活动，无条件接受甲方的监督、检查，且甲方有权根据监督、检查情况，依据相关管理规定对乙方进行相应处理，乙方无条件认可甲方享有的此种职能和权利。</p>
<p align="left">
	<strong>第四条&nbsp;&nbsp; </strong>乙方应向甲方缴纳如下费用：</p>
<p align="left">
	一、&nbsp; 会员开户费：￥&nbsp; &nbsp; 元/人（大写：&nbsp; &nbsp; &nbsp; ）。</p>
<p align="left">
	二、&nbsp; 会员席位费：￥&nbsp; &nbsp; 元/年（大写：&nbsp; &nbsp; &nbsp; ）。</p>
<p align="left">
	三、&nbsp; 交易手续费：按照甲方有关规定，在乙方发生交易时收取。手续费收取的标准及方式以甲方当期公布的相关文件为准，甲方可在营业场所、网站等地方以纸质或电子文本等任何方式进行发布，甲方不再另行通知乙方，乙方无条件认可甲方发布的相关文件及具体内容。</p>
<p align="left">
	会员开户费和会员席位费在会员申请被安益互联网金融交易公司批准之日一次性交足，乙方不按此约定缴纳会员开户费和会员席位费的，则乙方会员账户开户日期顺延，超过 10个自然日仍未足额缴纳的，视同乙方放弃本次会员资格申请，甲方不予办理开户手续，乙方向甲方所提交的全部资料甲方不予退还，并由乙方承担由此造成的全部责任和损失。以后年度的会员席位费收取标准、方式等由甲方另行公布执行，甲方可在营业场所、网站等地方以纸质或电子文本等任何方式进行发布，甲方不再另行通知乙方，乙方无条件认可甲方发布的相关文件及具体内容。会员于当年度的第一个月一次性交足，逾期不交，安益互联网金融交易公司有权选择撤销会员资格，并不予承担任何责任。</p>
<p align="left">
	安益互联网金融交易公司对投融资居间撮合是否成功，不作担保，即安益互联网金融交易公司对投资人会员与融资人会员是否能达成交易不作任何担保和承担，并不予承担任何责任。无论投融资交易是否成功，已交开户费和席位费均不予退还。</p>
<p align="left">
	<strong>第五条&nbsp;&nbsp; </strong>乙方自愿使用甲方提供的电子平台进行投资交易活动，并自愿遵守甲方有关电子平台管理的全部规定和使用要求，乙方登录并首次使用电子平台即视为乙方已知悉、认可甲方有关电子平台管理的全部规定和使用要求，并自愿承担使用该平台可能带来的全部风险和责任。</p>
<p align="left">
	<strong>第六条&nbsp;&nbsp; </strong>甲方根据乙方申请为乙方在电子平台中开设交易账户，户名：，账号：。本交易账户用于乙方在甲方平台的投资交易及接收所投资债权的还本付息等款项。交易账户账号（以下简称账号）将作为乙方在电子平台中的身份识别标记及签署电子合同的身份代号,由乙方负责妥善保管，防止泄露，非因甲方原因由该账户的使用和管理导致乙方遭受任何损失的，由乙方自行承担全部责任。</p>
<p align="left">
	<strong>账户安全管理责任：</strong></p>
<p align="left">
	会员对使用该账户及密码进行的一切操作负完全的责任，会员同意：</p>
<p align="left">
	一、&nbsp; 安益互联网金融交易公司仅通过会员的用户名和密码识别会员的指示，会员需妥善保管自己的用户名和密码，对于因用户名、密码泄露所致的损失，由会员自行承担全部责任。会员保证不向其他任何人泄露该账户及密码，亦不使用其他任何人的账户及密码，如因此引发任何纠纷、争议和损失的，由乙方自行承担全部责任。</p>
<p align="left">
	二、&nbsp; 如会员发现有他人冒用或盗用自己的账户及密码或任何其他未经合法授权之情形时，应立即以书面方式通知安益互联网金融交易公司，要求安益互联网金融交易公司暂停相关服务同时，会员理解：安益互联网金融交易公司对会员的请求采取行动，需要合理期限，在此之前，安益互联网金融交易公司对已执行的指令及(或)所导致的客户的损失不承担任何责任。</p>
<p align="left">
	三、&nbsp; 交易异常处理：会员使用本平台时，可能由于银行本身系统问题、银行相关作业网络连线问题、其他不可抗拒因素及非因甲方原因，造成本平台无法提供、服务中断或其他异常情况，会员对此予以容忍，自愿承担此种情况造成的风险和损失，并且保证不向安益互联网金融交易公司提出任何权利主张和要求。会员确保自己所输入的会员资料无误，如果因资料错误造成安益互联网金融交易公司于上述异常状况发生时，无法及时通知会员相关交易后续处理方式的，安益互联网金融交易公司不承担任何损害赔偿责任和违约责任。</p>
<p align="left">
	四、&nbsp; 会员同意：基于运行和交易安全的需要，安益互联网金融交易公司可以暂时停止提供或者限制本平台部分功能,或提供新的功能,在任何功能减少、增加或者变化时,会员仍然同意本协议或者变更后的协议，安益互联网金融交易公司无需另行通知和取得会员同意，平台的所有功能、权限等均以当期平台实际运行为准。</p>
<p align="left">
	五、&nbsp; 会员保证：没有使用任何第三人（包括以前或者新认识的朋友、熟人或者任何有语言交流或者肢体接触的人、包括中国人和外国人）的姓名、电话号码或者其它身份信息（简称匿名）注册或者登录或者设定账户或者密码，如果有此匿名行为而造成会员的资金损失或侵犯第三方合法权益，则由会员自行承担由此造成的全部责任和损失，如因此给安益互联网金融交易公司造成任何责任和损失的，由会员向安益互联网金融交易公司承担全部责任。</p>
<p align="left">
	六、&nbsp; 会员应对自己的交易账户和密码负责，会员保证：自己的注册信息特别是登录用户名和密码没有泄漏他人，也未曾使用他人的手机、电话号码或者他人的信息设定自己的登录用户名或者密码；只有会员本人可以使用自己的交易账户，该账户不可转让、不可赠与。在会员决定不再使用该账户时，会员应将该账户下所对应的可用款项全部提现或者向安益互联网金融交易公司发出其它支付指令，并向安益互联网金融交易公司申请注销（永久冻结）该账户。如因会员不遵守该项保证导致发生任何责任和损失的，由会员自行承担全部责任。</p>
<p align="left">
	七、&nbsp; 甲方并非银行或其它金融机构，本协议项下的资金移转，均通过银行来实现，会员理解并同意资金于流转途中需要合理时间，甲方对会员通过银行进行资金转移过程中出现的任何错误、延时等可能影响会员权益的情形及后果不予承担任何责任。</p>
<p align="left">
	<strong>第七条&nbsp;&nbsp; </strong>本合同签订后乙方应及时登录其交易账户对初始密码进行修改。在初始密码修改前，乙方将无权在交易账户中进行除修改密码之外的其他操作，乙方理解和认可安益互联网金融交易公司的此种管理规定，并自愿承担未及时修改初始密码可能带来的全部不利后果。</p>
<p align="left">
	<strong>第八条&nbsp;&nbsp; </strong>通过乙方账号在电子平台中下达的各项指令，确认的合同文本及其他文本内容及信息，均视为乙方真实、自愿的意思表达。下达指令和各种确认操作都视为乙方对相应电子合同或合同附件的同意及签署，乙方不得以任何方式和理由提出抗辩，并自愿完全承担相应的责任和后果。</p>
<p align="left">
	<strong>本平台服务使用规则：</strong></p>
<p align="left">
	会员每次使用本平台，均通过登录安益互联网金融交易公司的网站，或通过在安益互联网金融交易公司指定网站下载的客户端软件进入本平台，享受服务，会员通过非安益互联网金融交易公司网站或任何非安益互联网金融交易公司制定网站下载客户端登录引起的任何不利后果和损失均与安益互联网金融交易公司无关，由会员自行承担由此造成的全部责任和后果。</p>
<p align="left">
	为有效保障会员使用本平台进行交易时的合法权益，会员理解并同意接受以下规则：</p>
<p align="left">
	一、&nbsp; 一旦会员登录本平台，会员即无条件授权安益互联网金融交易公司代理会员，支付投资款项给会员认可的融资人或者借款人，或收取会员的投资相对人、融资人、借款人归还给会员的款项，而无需另行签署和办理任何授权手续，并由会员承担安益互联网金融交易公司代理行为的全部责任和后果。</p>
<p align="left">
	二、&nbsp; 会员通过登录自己的交易账户发出的任何指令，都不可撤回或撤销，且成为甲方代理会员支付或收取款项的唯一指令。会员无条件授权安益互联网金融交易公司：在会员与第三方发生交易纠纷时，安益互联网金融交易公司自行判断并决定是否将争议款项的全部或部分支付给投资相对人、融资人、借款人。因此，安益互联网金融交易公司提示会员：在发送指令前，确认无误，才发出指令；安益互联网金融交易公司对会员的错误指令引起的损失，不承担责任。安益互联网金融交易公司代理行为的全部责任和后果由会员自行承担。</p>
<p align="left">
	上述本平台服务使用规则并非穷尽甲方的全部平台服务使用规则，甲方有权根据业务发展和平台管理需要，随时对使用规则进行更新、替换、修订和调整，有关的情况将由甲方以其任何适当的形式在甲方网站、营业场所等进行发布，并自发布之日起生效，甲方不再另行通知乙方，也无需取得乙方的同意。</p>
<p align="left">
	<strong>第九条&nbsp;&nbsp; </strong>乙方可登录电子平台对其账号的密码进行设置、保存、修改，但必须遵守安益互联网金融交易公司有关电子平台管理的相关规定和要求。</p>
<p align="left">
	<strong>第十条&nbsp;&nbsp; </strong>乙方应妥善保管账号、密码，非甲方原因造成的密码泄露产生的任何损失和后果均由乙方自行承担。</p>
<p align="left">
	<strong>第十一条&nbsp;&nbsp;&nbsp; </strong>乙方账号、密码遗失、泄露时应及时向安益互联网金融交易公司申请挂失，挂失生效前产生的一切损失及后果由乙方自行承担。</p>
<p align="left">
	<strong>第十二条&nbsp;&nbsp;&nbsp; </strong>乙方可通过第三方支付工具对交易账户进行相应金额充值。交易账户有余额时，乙方可申请提现，收到乙方提现申请后，甲方将按规定的操作程序将款项拨付至乙方在《会员申请表》中登记的银行账户。交易账户现金进出时，银行或第三方收取的各项费用由乙方承担，甲方对通过银行或第三方支付工具进行资金转移过程中出现的任何错误、延时等可能影响会员权益的情形及后果不予承担任何责任。</p>
<p align="left">
	<strong>第十三条&nbsp;&nbsp;&nbsp; </strong>乙方在投资交易时应确保账户有足够的现金余额，否则将无法提交投资划款指令、完成交易，乙方知悉并愿意承担此种交易规则及相应后果。</p>
<p align="left">
	<strong>第十四条&nbsp;&nbsp;&nbsp; </strong>乙方所投资债权的利息、收益、期限、还款方式等以相应借款合同的约定为准，并由乙方自行承担全部责任。</p>
<p align="left">
	<strong>第十五条&nbsp;&nbsp;&nbsp; </strong>甲方有权根据实际情况对相关制度、管理办法及其它规则文件进行修改，乙方对此予以认可，并承诺遵照修订后的有关规定执行。但甲方将就修改内容公告于甲方网站，该公告之日即视为甲方已经专门或者另行通知到乙方本人。</p>
<p align="left">
	<strong>第十六条&nbsp;&nbsp;&nbsp; </strong>如市场出现异常情况，为控制风险，甲方有权按相关规则，视情况采取相应风险控制措施，由此给乙方造成不便或影响到乙方的权益的，甲方免于承担任何责任。</p>
<p align="left">
	<strong>第十七条&nbsp;&nbsp;&nbsp; </strong>甲方主要以电子数据形式，通过电子平台、甲方网站向乙方发送成交记录、结算数据、函件、通知、信息、合同文本等，甲方在电子平台、甲方网站发送出上述信息之时即视为甲方已完成了对乙方的送达、通知、公告义务，所有的责任和后果自上述信息发出之时即由乙方承担，除非双方另有约定需要另行履行其他手续。</p>
<p align="left">
	<strong>第十八条&nbsp;&nbsp;&nbsp; </strong>甲方对乙方的交易记录及其它资料负有保密义务，非经有权机关要求或经乙方同意，不得向第三方透露，否则甲方应承担相应责任（黑客攻击或者其他非因甲方可控制的情形造成的除外）。</p>
<p align="left">
	<strong>第十九条&nbsp;&nbsp;&nbsp; </strong>本协议履行过程中，如果相关法律、法规、规章、政策及甲方规则发生变化，甲方有权依照上述相关规定直接变更本协议与此相关部分的条款，变更或补充条款优先适用。乙方对此予以认可，并承诺遵照修订后的有关规定执行。但甲方将就修改内容公告于甲方网站，该公告之时即视为甲方已经专门或者另行通知到乙方本人。因该等变化或改变给乙方造成不便或影响到乙方的权益的，甲方免于承担任何责任。</p>
<p align="left">
	<strong>第二十条&nbsp;&nbsp;&nbsp; </strong>乙方同意甲方向其在《会员申请表》中登记的手机号码发送投资交易的相关信息。</p>
<p align="left">
	<strong>第二十一条</strong>乙方在《会员申请表》中填写登记的电话号码、地址、银行账号等信息发生变化时，应及时告知甲方。因这些事项变更未及时告知甲方而造成的损失和一切后果由乙方自行承担。</p>
<p align="left">
	<strong>第二十二条</strong>根据上述情况的变化，甲方对本协议有关条款进行的变更或补充，以本协议约定的通知方式：在甲方营业场所和网站公告方式向乙方发出，变更或补充协议于该公告发布当日生效。因该等变化或改变给乙方造成不便或影响到乙方的权益的，甲方免于承担任何责任。</p>
<p>
	<strong>第二十三条</strong>本协议未列明事宜，按国家有关法律、法规、规章、政策及甲方相关业务规则处理。</p>
<p>
	<strong>第二十四条</strong>因地震、台风、水灾、火灾、战争、罢工及其它不可抗力因素导致的乙方损失，甲方不承担任何责任，但应当在条件允许的范围采取一切必要的补救措施以减少因不可抗力造成的损失。</p>
<p>
	<strong>第二十五条</strong>由于国家法律、法规、规章、政策或者安益互联网金融交易公司紧急措施的出台等导致乙方所承担的风险，甲方不承担任何责任。</p>
<p>
	<strong>第二十六条</strong>因甲方不可预测或无法控制的系统故障、设备故障、通讯故障、停电等突发事件给乙方造成的损失，甲方不承担任何责任。因上述事故造成的交易或交易数据中断，恢复交易时以故障发生前系统最终记录的交易数据为有效数据。</p>
<p>
	<strong>第二十七条</strong>由于互联网上黑客攻击、非法登录等风险的发生给乙方造成的损失，甲方不承担任何责任。</p>
<p>
	<strong>第二十八条</strong>甲方向乙方提供的各种信息及资料仅作为交易参考，乙方据此进行交易的风险的判断，并自行承担所有的交易风险。</p>
<p>
	<strong>第二十九条</strong>乙方独立承担投资交易风险。最终的投资行为均以乙方的相关知识和经验为最后评判标准，所产生的一切法律责任与后果均由乙方自行承担。乙方不以甲方误导、不知情为由要求甲方承担任何责任，同时放弃向任何机关、组织、团体主张任何救济的权利。</p>
<p>
	<strong>第三十条&nbsp;&nbsp;&nbsp; </strong>若乙方不继续参加投资交易，应向甲方提出书面申请，办好相关手续后本协议终止。除本协议另有约定外，视同乙方仍为有效会员，乙方需按规定承担会员所需承担的相应责任和义务。</p>
<p>
	<strong>第三十一条</strong>因本协议引起的一切争议，由甲、乙双方协商解决，如协商不成的，双方同意将争议提交甲方所在地有管辖权的法院处理。</p>
<p>
	<strong>第三十二条</strong>本协议一式两份，经甲方法定代表人或授权代理人签字加盖公章及乙方签字后生效，甲乙双方各持一份，具有同等效力。</p>
<p>
	<strong>第三十三条</strong>本协议有效期一直延续到本协议双方同意终止会员资格或者甲方根据会员的信用最低表现撤销会员资格时止。会员的最低信用表现，由甲方据实单方判定，乙方无条件任何和接受甲方所做的判定。会员资格终止或者撤销即为解除本协议。</p>
<p>
	<strong>第三十四条</strong>陈述、声明和保证：</p>
<p>
	<strong>乙方陈述和保证：</strong>乙方知晓，甲方是受托于投资人、出借人的投资咨询服务机构，甲方的服务性质是居间撮合、受托中介投融资。甲方因为受托于投资人、出借人而向投资相对人、融资人、借款人划转投资款，不属于甲方放贷行为而属于委托投资服务行为。甲方代存、代划转投资款、代收还款的行为，不属于甲方向乙方吸收存款、集资。乙方签订本协议本身，即视为乙方委托甲方寻找、居间撮合愿意从乙方融入、借款的合同相对方。一旦乙方融出、借出资金成功，乙方保证严格遵守借款合同，如有违约，自觉承担全部违约责任和经济损失。乙方在本协议以及融资交易双方签订并有甲方参与的借款合同中授予甲方的权限，其有效期自本协议签订之日起直至本协议最终解除之日。一旦融资借款人向甲方提出借款批复申请，甲方有权代理会员就借款金额、借期、利息、还款方式进行批复，但该批复需由借款合同最终确认。甲方在乙方授权范围内所做出的任何行为及后果均由乙方自行承担，乙方保证不向甲方提出任何抗辩及其他权利主张和要求。</p>
<p>
	<strong>甲方陈述和保证：</strong>甲方拒绝向会员提供吸收存款获利、集资获利、高利贷、洗钱、非法套现的服务、便利、信息或者渠道。甲方的服务性质，是受乙方和融资人、借款人委托，居间撮合民间借贷和现行国家政策法律法规许可的投融资咨询技术服务。甲方保证居间中立和公允。甲方将根据会员投资相对人（融入人、借入人）履行借款合同的具体表现，对融入人、借入人的信用进行公正评价，并在安益互联网金融交易公司网站和其它适当媒体进行公告。但安益互联网金融交易公司对融入人、借入人对每一笔债务的清偿能力和清偿责任，不作任何担保和承诺，所有的交易后果由乙方自行承担。</p>
<p>
	<strong>第三十五条</strong>会员确认，在会员注册成为安益互联网金融交易公司会员及接受本协议之前，已充分阅读、理解并接受本协议的全部内容，一旦会员签订本协议，即表示会员同意遵循本协议之所有约定，并承担全部责任和后果。</p>
<p>
	<strong>第三十六条</strong>会员声明，在会员同意接受本协议并注册成为安益互联网金融交易公司会员时，会员是具有完全民事权利能力和民事行为能力，能够独立承担民事责任的主体；不具备前述条件的，会员应当通过会员的法定代理人或者委托代理人以代理人的名义签订本协议，因任何不真实信息造成对会员的不利后果均由会员自行承担。</p>
<p>
	会员理解并接受本合同属于格式合同。会员承诺不以本协议是格式合同而提出抗辩、主张本协议或者协议条款无效，除非该条款违反现行法律的禁止性规定。</p>
<p>
	<strong>第三十七条</strong>平台运行的安全性、稳定性和准确性；意外中断或故障：</p>
<p>
	安益互联网金融交易公司将尽力采取技术手段（包括技术安全手段），维持系统运行服务的稳定性、连续性、及时性、准确性和安全性，并设置灾难恢复应急处理预案，防止客户合法权益受损害；安益互联网金融交易公司承诺不会随意终止系统运行服务；但是，系统因下列原因中断、故障或者终止（统称故障事件），使会员暂时无法使用服务时，安益互联网金融交易公司不承担任何损害赔偿责任或者违约责任，包括但不限于：</p>
<p>
	一、&nbsp; 本平台停机维护期间，没有其它可替代的系统。</p>
<p>
	二、&nbsp; 电信部门的设备出现故障不能进行数据传输。</p>
<p>
	三、&nbsp; 由于电信部门技术调整、网站升级、银行方面的问题等原因而造成的服务中断或者延迟。</p>
<p>
	四、&nbsp; 其它不属于安益互联网金融交易公司过错的情形或者超出安益互联网金融交易公司现行技术能力和技术水平的限制或障碍。</p>
<p>
	<strong>第三十八条</strong>在任何情况下，安益互联网金融交易公司对本协议所承担的损害赔偿责任和违约赔偿责任总额，不超过安益互联网金融交易公司向会员收取的服务费用总额。</p>
<p>
	&nbsp;</p>
<p>
	甲方（盖章）：乙方：</p>
<p align="left">
	云南安益互联网金融交易服务有限公司</p>
<p align="left">
	法定代表人或授权代表：</p>
<p align="left">
	年&nbsp;&nbsp; 月&nbsp;&nbsp; 日年&nbsp;&nbsp; 月&nbsp;&nbsp; 日</p>
<p align="left">
	&nbsp;</p>
<p align="left">
	&nbsp;</p>
<p align="left">
	&nbsp;</p>
<p align="left">
	&nbsp;</p>
<p align="left">
	&nbsp;</p>
<p align="left">
	<strong>附件：乙方身份证复印件</strong></p>

                </div>
                <div class="modal-footer">
					 <button type="submit" class="btn btn-primary btn-confirm" id="aggre-pro-btn">同意</button>
                    <button type="button" class="btn btn-default btn-cancel" data-dismiss="modal">关闭</button>
                </div>
            </div>
    </div>
</div>
