<link rel="stylesheet" href="$link.contextPath/assets/css/page/jquery.dataTables.flat.css">
<link rel="stylesheet" href="$link.contextPath/assets/vendor/bootstrap-datepicker/css/datepicker.css">
<link rel="stylesheet" href="$link.contextPath/assets/css/form.css">
<link rel="stylesheet" href="$link.contextPath/assets/css/page/member/audit.css">
<script src="$link.contextPath/assets/js/page/member/search-agency.js" type="text/javascript"></script>
<script src="$link.contextPath/assets/js/page/member/member-log.js" type="text/javascript"></script>
#parse("audit/audit_log.vm")
<div id="table-wrapper">
	<form id="search-form-id">
	<div id="search_area" class="row search-area">
    		<div class="col-sm-2">
    			<label>用户名:</label>
    			<div class="full-oqp">
    				<input id="agency_userid" name="user_name" type="text" class="form-control"/>	
                </div>	
            </div>
    		
    		<div class="col-sm-2">
    			<label  id="search-name">会员类型:</label>
    			<div class="full-oqp">
    				<select id="agency_role" name="user_role" class="form-control">
    					<option value="NULL">全部</option>
    					<option value="PRODSERV_AUTHZD">服务中心/担保机构</option>
    					<option value="PRODUCTSERVICE">担保机构</option>
    					<option value="AUTHZDCENTER">服务中心</option>
    				</select>		
                </div>	
            </div>
			
			<div class="col-sm-2">
    			<label >企业名称</label>
    			     <div class="full-oqp">
    						<input id="agency_name" name="name" type="text" class="form-control"/>	
                     </div>
            </div>
			
			<div class="col-sm-2">
    			<label >担保机构权限状态</label>
    			     <div class="full-oqp">
    						<select id="productservice_status" name="productservice_status" class="form-control">
    							<option value="NULL">全部</option>
            					<option value="PENDDING">待审核</option>
            					<option value="ACCEPT">审核通过</option>
            					<option value="REJECT">审核拒绝</option>
            				</select>	
                     </div>
            </div>
			
			<div class="col-sm-2">
    			<label >服务中心权限状态</label>
    			     <div class="full-oqp">
    						<select id="authzdcenter_status" name="authzdcenter_status" class="form-control">
    							<option value="NULL">全部</option>
            					<option value="PENDDING">待审核</option>
            					<option value="ACCEPT">审核通过</option>
            					<option value="REJECT">审核拒绝</option>
            				</select>	
                     </div>
            </div>
	
    	
    		<div class="col-sm-2">
    			<label style="width:100%">&nbsp;</label>
    			<div>
                    <a id="agency_search" class="btn btn-mf-primary"><i class="fa fa-search"></i>查询</a>
                </div>
    		</div>
		  </div>
		</form>
				 <table id="agencySearchTable" class="dataTable">
            		<thead>
                            <tr>
                                <th data-mData="userName">用户名</th>
                                <th data-mData="accountNo" data-bSortable="false">交易账号</th>
                                <th data-mData="earliestTs">创建日期</th>
                                <th data-mData="userRole.text" data-bSortable="false">会员类型</th>
                                <th data-mData="name">企业名称</th>
                                <th data-mData="region.fullText">所在区域</th>
                                <th data-mData="orgNature.text"  data-bSortable="false">企业性质</th>
                                <th data-mData="orgLegalPerson"  data-bSortable="false">法人代表</th>
                                <th data-mData="productServiceStatus.text" data-bSortable="false">担保机构权限状态</th>
								<th data-mData="serviceCenterStatus.text" data-bSortable="false">服务中心权限状态</th>
								<th data-mRender="_fnAgencyBtnRender"  data-bSortable="false">操作</th>
								<th data-mRender="_fnRenderlog"  data-bSortable="false">日志</th>
            				</tr>
                    </thead>
            		<tbody>
            		</tbody>
       			 </table>
</div>
<div  id="search-agency-wrapper" class="form-wrapper">
</div>


