#set($layout = "common/signinLayout.vm")
<script src="$link.contextPath/assets/js/page/auth/signin.js" type="text/javascript"></script>
<div class="row pd">
    <div class="col-md-6 col-sm-4">
        <h1 class="big-title signin-h1-font">政府监管/第三方资金托管的</h1>
        <h2 class="sub-title signin-h2-font">互联网金融阳光交易平台<!--<span class="high-light">30倍</span>&nbsp;&nbsp;&nbsp;活期存款收益--></h2>
        <!--<h2 class="sub-title"><span class="high-light">3.27倍</span>定期存款收益</h3>
            <h2 class="sub-title mt fs-num hide">8%-15%</h3>
                <h3 class="sub-title hide"><span class="year-rate">预期年化收益率</span></h3>-->
        <h3 class="sub-title signin-h3-font">预期年化收益率<span class="mt pers-font ">10%-20%</span></h3>
        <div class="go-exp-wrapper">
            <div class="btn btn-default go-exp btn-lg" onclick="window.location.href= '$link.contextPath/web/members/register';return false">立即注册<span style="margin-left:40px"><i class="fa fa-angle-right"></i></span></div>
        </div>
    </div>
    <div class="col-md-5 col-md-offset-1 col-sm-7 col-sm-offset-1">
        <div class="main-wrapper signin-box">
            <div class="main">
                <h3>立即登录</h3>
                #if($session_timeout)
                <div class="alert alert-danger alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <strong>未登录或会话已超时，请重新登录。</strong>
                </div>
                #end
                <form id="signin-form"  role="form" method="POST"
                      action="$link.contextPath/web/members/signin/authc">
                    <div class="form-item">
                        <div class="input-group  has-feedback">
                            <span class="input-group-addon"><i class="fa fa-user"></i> </span>
                            <input type="text" class="form-control" id="user-name"  maxlength="25" name="userName"
                                   value="" placeholder="用户名"/>
                        </div>
                    </div>

                    <div class="form-item">
                        <div class="input-group  has-feedback">
                            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                            <input type="password" class="form-control" maxlength="20"  name="password" value=""
                                   placeholder="密码"/>
                        </div>
                    </div>

                    <div class="form-item">
                        <div class="row  has-feedback ">
                            <div class="col-xs-8">
                                <div class="form-group has-feedback">
                                    <input type="text" class="form-control yzm-input" name="captcha"  maxlength="8" placeholder="验证码"/>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <img  id="captcha-img" class="img-responsive yzm-img"  style="cursor:pointer;" ></img>
                            </div>
                        </div>
                    </div>

                    <div class="rem-wrapper">
                         <input type="checkbox" id="rem-chkbox" name="rem-chkbox" data-ignore="true" checked /> 记住用户名
                    </div>

                    <div class="form-btn-wrapper has-feedback">
                        <button type="submit" id="btn-login" class="btn btn-default ui-button" disabled>登录</button>
                        <p class="ui-form-other">
                            <a href="javascript:void(0)" class="textlink" id="forgetpwd">忘记登录密码?</a>
                            <a href="$link.contextPath/web/members/register" class="register">免费注册</a>
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--
<div class="row qd">
    <div class="col-sm-4"><h4 class="sm-title"><img class="slogan-icon" src="$link.contextPath/assets/img/signin-1.png" /> 资金安全&nbsp;&nbsp;轻松理财</h4></div>
    <div class="col-sm-4"><h4 class="sm-title"><img class="slogan-icon" src="$link.contextPath/assets/img/signin-2.png" /> 多重保障&nbsp;&nbsp;收益稳定</h4></div>
    <div class="col-sm-4"><h4 class="sm-title"><img class="slogan-icon" src="$link.contextPath/assets/img/signin-3.png" /> 项目丰沛&nbsp;&nbsp;自主交易</h4></div>
</div>
-->